@use "sass:selector";
@use "sass:list";
@use "sass:string";

@function custom-element-prefixes ($suffixes) {
  $scopes: "pre1-", "pre2-", "pre3-";
  // @if meta.type-of($suffixes) != list {
  // }

  $selector: '';
  @each $suffix in $suffixes {
    @each $scope in $scopes {
      $selector: $selector + $scope + $suffix + ",";
    }
  }
  @return string.slice($selector, 1, -2);
}

#{custom-element-prefixes((suf1,
  suf2,
  suf3))}{
 color: blue;
}